body {
    width: 100vh;
    text-align: left;
    margin: auto;
    font-family: fantasy;
}

img {
    width: 325px;
    height: 400px;
    border-radius: 8px;
}

.pasta {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
}

.flame {
    background-color: firebrick;
    color: white;
    font-weight: bold;
}

.tofu {
    background-color: peru;
    color: white;
    font-weight: bold;
}

.home {
    background-color: ivory;
    text-align: center;
    
}

ul {
    
    text-align: left;
    display: inline-block;
}

.pop {
    width: 325px;
    height: 275px;
}
