
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vh;
    margin: auto;
    font-family: fantasy;
    font-weight: bold;
}

img {
    width: 325px;
    height: 400px;
    border-radius: 8px;
    transition: 1s;
}

img:hover {
    width: 350px;
    height: 425px;
}

.pop:hover {
    width: 350px;
    height: 300px;
}

.pasta {
    background-color: darkolivegreen;
    color: white;
}

.flame {
    background-color: firebrick;
    color: white;
}

.tofu {
    background-color: peru;
    color: white;
}

.home {
    background-color: ivory;
    text-align: center;
    
}

ul {
    text-align: left;
    display: inline-block;
}

.homepage li {
    transition: .5s;
    margin: .5rem;
    
}

.homepage li:hover {
    font-size: 18px;
}

.pop {
    width: 325px;
    height: 275px;
}

* {
    border: 2px solid red;
}